
.fields-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons-container{
    display: flex;
    flex-direction:column;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field-matricula{
    display: flex;
    margin-bottom: 16px;
}

.forgotPassword{
    align-self: flex-end;
    color: #0a8ad4;
}