.logo-image{
    height: 125px;
    width: 125px;
    aspect-ratio: 1;
    background-color: none;
    object-fit: contain;
    object-position: center;
    background-color: none;
}
/* Impede tradução em toda a tela de preview */
.preview-container,
.preview-container * {
    -webkit-locale: "pt-BR";
    locale: "pt-BR";
    translate: no;
    webkit-translate: no;
}