.menu-area {
  background-color: var(--nav-color);
  box-shadow: var(--shadow);
  gap: 10px;
  max-height: calc(
    100vh - var(--header-height)
  ); /* Ocupa toda a altura da tela */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.menu-nav {
  flex: 1; /* Ocupa o espaço restante do menu-area */
}

.ProfileButton {
  display: flex;
  align-items: center;
  border-top: 1px solid;
  border-color: #ffffff47;
  gap: 4px;
}

.ProfileButton span {
  text-transform: capitalize !important;
  font-size: 1rem;
}

.ProfileButton button {
  width: 100%;
  padding: 20px 15px;
  text-transform: none;
  text-decoration: none;
  color: var(--nav-text-color);
}
